
<form name='create_form' id='create_form' action='/create' method='POST'>
    <label>Title</label>
    <input type='text' name='title' placeholder='enter title' />
    <label>Artist:</label>
    <input type='text' name='artist' placeholder='enter artist name' />
    <label>Genre</label>
    <input type='text' name='genre' placeholder='enter music genre' />
    <label>Release date</label>
    <input type='date' id='release_date' />

    <input type='submit' id='submit' value='submit'/>
</form>
